<footer class="footer">
	<div class="container-fluid">
	    <div class="row-fluid">
	        <div class="span4">
	        	<h4><a href="{% url 'about' %}">About</a><span> | </span><a href="{% url 'faq' %}">FAQ</a><span> | </span><a href="{% url 'useful-links' %}">Resources</a><span> | </span><a href="{% url 'privacy' %}">Privacy</a><span> | </span><a href="{% url 'terms' %}">Terms of Use</a></h4>
	        </div>
	        <div class="span4 offset4">
	            <h4>Open<span>NC</span> &copy; 2013</h4>
	        </div>
	    </div>
    </div>
</footer>
