<footer class="footer">
	<div class="container-fluid">
	    <div class="row-fluid">
	        <div class="span4">
	        	<h4><a href="{% url 'about' %}">About</a><span> | </span><a href="{% url 'faq' %}">FAQ</a><span> | </span><a href="{% url 'useful-links' %}">Tools</a><span> | </span><a href="{% url 'privacy' %}">Privacy </a></h4><h4><a href="{% url 'terms' %}"> Terms of Use</a><span> | </span><a href="mailto:info@open-nc.org?subject=Feedback for open-nc.org">Feedback?</a></h4>
	        </div>
	        <div class="span4 offset4">
	            <h4>Open <span>N.C.</span> &copy; 2013</h4>
	        </div>
	    </div>
    </div>
</footer>
