<div class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a href="{% url "home" %}" class="brand">
                Open Data NC
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#">About</a></li>
                    <li><a href="{% url 'catalog_search' %}">Data Catalog</a></li>
                    <li><a href="{% url 'requests_request_list' %}">Request Data</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url "auth_login" %}">Register/Log In</a></li>
                {% else %}
                    <li>
                        <a>
                            <i class="icon-white icon-user"></i> {{ user.username }}
                        </a>
                        <ul>
                            {% if user.is_staff %}
                            <li><a href="{% url "admin:index" %}">Admin</a></li>
                            {% endif %}
                            <li><a href="{% url "auth_logout" %}">Log Out</a></li>
                        </ul>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
