<nav>
    <div class="row-fluid">
        <div class="span12">
            <div id="goto_find_data">
                <a href="{% url 'catalog_search' %}"><h3 class="mobile_border">Find Data</h3></a>
                <p>Want to see what data we have so far? Browse our collection and filter by category or geography.</p>
            </div>
            <hr>
            <div id="goto_suggest_data">
                <a href="{% url 'suggest-page' %}"><h3 class="mobile_border">Submit Data</h3></a>
                <p>Do you have public data we don't have? Please submit a link to it here so we can add it to our collection.</p>
            </div>
            <hr>
            <div id="goto_request_data">
                <a href="{% url 'request-list' %}"><h3>Request Data</h3></a>
                <p>Looking for something we don't have? Request the data here to see if someone else has it or is willing to find and share.</p>
            </div>
            <hr>
            <div id="goto_feedback" class="visible-desktop">
                <a href="{% url 'contact_form' %}"><h3>Feedback</h3></a>
                <p>If you see something that isn't working properly or could use an improvement, let us know!</p>
            </div>
        </div>
    </div>
</nav>
