<nav>
    <div class="row-fluid hidden-phone">
        <div id="goto_find_data">
            <h3 class="mobile_border"><a href="{% url 'catalog_search' %}">Find Data</a></h3>
            <p>Want to see what data we have so far? Browse our collection and filter by category or geography.</p>
        </div>
        <div id="goto_suggest_data">
            <h3 class="mobile_border"><a href="{% url 'suggest-page' %}">Submit Data</a></h3>
            <p>Do you have public data we don't have? Please submit a link to it here so we can add it to our collection.</p>
        </div>
        <div id="goto_request_data">
            <h3><a href="{% url 'request-list' %}">Request Data</a></h3>
            <p>Looking for something we don't have? Request the data here to see if someone else has it or is willing to find and share.</p>
        </div>
        <div id="goto_feedback">
            <h3><a href="{% url 'contact_form' %}">Feedback</a></h3>
            <p>If you see something that isn't working properly or could use an improvement, let us know!</p>
        </div>
    </div>
    <div class="visible-phone">
        <h3 class="text-center"><a href="{% url 'catalog_search' %}">Find Data</a> |
          <a href="{% url 'suggest-page' %}">Submit Data</a> |
          <a href="{% url 'request-list' %}">Request Data</a> |
          <a href="{% url 'contact_form' %}">Feedback</a>
        </h3>
    </div>
</nav>
