{% extends "base.html" %}
{% load widget_tweaks facet_tags %}

{% block title %}{{ model_type|default:"search result"|add:"s"|title }}{% endblock title %}
{% block body_id %}search{% endblock body_id %}
{% block body_class %}catalog{% endblock body_class %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css"
            href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css">
    <link type="text/css" media="all" rel="stylesheet"
            href="{{ STATIC_URL }}selectable/css/dj.selectable.css">
{% endblock extra-css %}

{% block extra-js %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
    <script src="{{ STATIC_URL }}js/selectable.js"></script>
    <script>
        $('ul').each(function(){
            var ul = $(this);
            var count_li = ul.find('li').size();
            if(count_li > 5) { 
            $(this).children('li:gt(4)').hide();
            $(this).append($('<a class="show-more" href="javascript:void(0);">Show More...</a>'));
        }
        });
    
        $('.show-more').click(function(e){
            e.preventDefault();
            $(this).parent('ul').children('li:gt(4)').stop(true,true).slideToggle();
            $('ul').not($(this).parent('ul')).each(function(){
                  $(this).children('li:gt(4)').hide();
            });
            $(this).text($(this).text() == "Show Less" ? "Show More..." : "Show Less");
        });
    </script>
{% endblock extra-js %}

{% block form %}
            
    <div class="row-fluid hidden-phone">
        <div class="span10">
            <form class="form-search" method="get" action=".">
                <div class="control-group input-append">
                    {{ form.q|attr:"placeholder:Search the data catalog..." }}
                    {% for facet in form.selected_facets %}
                        <input type="hidden" name="selected_facets" value="{{ facet }}" />
                    {% endfor %}
                    <button class="btn"><i class="icon-search icon-white"></i></button>
                </div>
            </form>
        </div>
    </div>

{% endblock form %}

{% block form_mobile %} <!-- Moves search bar under nav in mobile environment -->
            
    <div class="row-fluid visible-phone">
        <div class="span8 offset3">
            <form class="form-search" method="get" action=".">
                <div class="control-group input-append">
                    {{ form.q|attr:"placeholder:Search the data catalog..." }}
                    {% for facet in facet_list %}
                        <input type="hidden" name="selected_facets" value="{{ facet }}" />
                    {% endfor %}
                    <button class="btn"><i class="icon-search icon-white"></i></button>
                </div>
            </form>
        </div>
    </div>

{% endblock form_mobile %}

{% block catalog_search %}
    <div id="refine-results">
        <h3>Filters</h3>
            <div id="reset-filters">
                {% if selected_facets %}
                {% for field, filter in selected_facets %}
                    <span class="label label-info"><a class="facet_removal" href="{% remove_facet request filter %}"><i class="icon-remove-sign"></i></a> {{ field|title }}: {{ filter|title }} </span>
                {% endfor %}
                <br>
                <a href="{{ request.path }}{% if query %}?q={{ query }}{% endif %}">Reset Filters</a>
                {% endif %}
            </div>
            <div class="search-tools">
                {% for field, facets in facets.fields.items %}
                    {% if facets %}
                    <ul class="filters">
                        <h6 id="filter_title">By {{ field }}</h6>
                        {% for facet in facets %}
                            {% if facet.1 %}
                            {% with path=request.get_full_path %}
                                <li>
                                   {% if not facet.0 in filters %}
                                    <a href="{{ request.get_full_path }}{% if '?q=' not in path %}?q={% endif %}&amp;selected_facets={{ field }}_exact:{{ facet.0|urlencode }}">
                                        {{ facet.0|title }} ({{ facet.1 }})
                                    </a>
                                    {% else %}
                                       <span class="muted" title="Filter already applied">{{ facet.0|title }} ({{ facet.1 }})</span>
                                    {% endif %}
                                </li>
                            {% endwith %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>
    {% endblock %}

    {% block content %}
        <h3>Data Catalog</h3>
        <div class="search-results">
            {% for result in page.object_list %}
                {{result.text|safe}}
            {% if not forloop.last %}<br />{% endif %}
            {% empty %}
            <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div></div> <!-- /span9 & /row-fluid from base -->
{% endblock %}


