{% extends "base.html" %}
{% load widget_tweaks facet_tags sorting_tags%}

{% block title %}{{ model_type|default:"search result"|add:"s"|title }}{% endblock title %}
{% block body_id %}search{% endblock body_id %}
{% block body_class %}catalog{% endblock body_class %}


{% block extra-js %}
    <script>
        $('ul').each(function(){
            var ul = $(this);
            var count_li = ul.find('li').size();
            if(count_li > 5) { 
            $(this).children('li:gt(4)').hide();
            $(this).append($('<a class="show-more" href="javascript:void(0);">Show More...</a>'));
        }
        });
    
        $('.show-more').click(function(e){
            e.preventDefault();
            $(this).parent('ul').children('li:gt(4)').stop(true,true).slideToggle();
            $('ul').not($(this).parent('ul')).each(function(){
                  $(this).children('li:gt(4)').hide();
            });

            if ($(this).text() == "Show Fewer..."){
                $(this).html("Show More...");
            } else {
                $(this).html("Show Fewer...");
            }
        });
    </script>
{% endblock extra-js %}

{% block form %}

    <div class="row-fluid hidden-phone">
        <div class="span10">
            <form class="" method="get" action=".">
                <div class="control-group input-append">
                    {{ form.q|attr:"placeholder:Search the data catalog..." }}
                    {% for facet in form.selected_facets %}
                        <input type="hidden" name="selected_facets" value="{{ facet }}" />
                    {% endfor %}
                    <button class="btn"><i class="icon-search icon-white"></i></button>
                </div>
            </form>
        </div>
    </div>

{% endblock form %}

{% block form_mobile %} <!-- Moves search bar under nav in mobile environment -->
            
    <div class="row-fluid visible-phone">
        <div class="span8 offset3">
            <form class="form-search" method="get" action=".">
                <div class="control-group input-append">
                    {{ form.q|attr:"placeholder:Search the data catalog..." }}
                    {% for facet in facet_list %}
                        <input type="hidden" name="selected_facets" value="{{ facet }}" />
                    {% endfor %}
                    <button class="btn"><i class="icon-search icon-white"></i></button>
                </div>
            </form>
        </div>
    </div>

{% endblock form_mobile %}

{% block content %}
    <div id="refine-results">
{#        <h3>Filters</h3>#}
            <div id="reset-filters">
                {% if selected_facets %}
                {% for field, filter in selected_facets %}
                    <span class="label label-info"><a class="facet_removal" href="{% remove_facet request filter %}"><i class="icon-remove-sign"></i></a> {{ field|title }}: {{ filter|title }} </span>
                {% endfor %}
                <br>
                <a href="{{ request.path }}{% if query %}?q={{ query }}{% endif %}">Reset Filters</a>
                {% endif %}
            </div>
            <div class="search-tools">
                {% for field, facets in facets.fields.items %}
                    {% if facets %}
                    <ul class="filters">
                        <h6 id="filter_title">By {{ field }}</h6>
                        {% for facet in facets %}
                            {% if facet.1 %}
                            {% with path=request.get_full_path %}
                                <li>
                                   {% if not facet.0 in filters %}
                                       {% if request.GET %}
                                            <a href="{{ request.get_full_path }}&amp;selected_facets={{ field }}_exact:{{ facet.0|urlencode }}">
                                                {{ facet.0|title }} ({{ facet.1 }})
                                            </a>
                                       {% else %}
                                            <a href="{{ request.get_full_path }}?selected_facets={{ field }}_exact:{{ facet.0|urlencode }}">
                                                {{ facet.0|title }} ({{ facet.1 }})
                                            </a>
                                       {% endif %}
                                    {% else %}
                                       <span class="muted" title="Filter already applied">{{ facet.0|title }} ({{ facet.1 }})</span>
                                    {% endif %}
                                </li>
                            {% endwith %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>

{#        <h3>Data Catalog</h3>#}
        <div class="search-results">
            <div id="results_info">
                <div id="count">{{ page.paginator.count }} RESULTS</div>
                <div id="sort" class="sort_nomination">
                    <ul>
                        <li>Sort by:</li>
{#                        <li id="sort_rating_score">{% anchor rating_score "Rating Score" %} <span class="accent">|</span> </li>#}
                        <li id="sort_suggested_date">{% anchor created Date %}</li>
                    </ul>
                </div>
            </div>
            {% for result in page.object_list %}
                {{result.text|safe}}
            {% if not forloop.last %}<br />{% endif %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
            <div class="pagination">
                <ul>
                    {% if page.has_previous %}<li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a></li>{% else %}<li class="disabled"><span>&laquo; Previous</span></li>{% endif %}
                    {% if page.has_next %}<li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next &raquo;</a></li>{% else %}<li class="disabled"><span>Next &raquo;</span></li>{% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


