{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Log In{% endblock title %}
{% block body_id %}login{% endblock body_id %}
{% block body_class %}registration{% endblock %}

{% block extra-js %}

{% endblock extra-js %}

{% block messages %}
    {{ block.super }}
    {% if form.errors %}
        {% include "includes/message.html" with msg="Your username and password didn't match our records. Please try again." alert_type="error" %}
    {% endif %}
{% endblock messages %}

{% block content %}
<div id="login" class="floating-box">
    <h1>Log in</h1>
    <form method="post" action="{% url "auth_login" %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="control-group{% if form.username.errors %} error{% endif %}">
            {{ form.username|attr:"placeholder:Username" }}
        </div>
        <div class="control-group{% if form.password.errors %} error{% endif %}">
            {{ form.password|attr:"placeholder:Password" }}
        </div>
        <div class="control-group">
            <input class="btn btn-primary btn-large btn-block" type="submit" value="Log In" />
        </div>
        <a class="login-link" href="{% url 'auth_password_reset' %}">Reset password</a>
        <span class="accent"> | </span>
        <a class="login-link" href="{% url 'registration_register' %}">Register</a>
    </form>
</div>
{% endblock content %}
