{% extends "base.html" %}
{% load widget_tweaks scribbler_tags %}

{% block title %}Register{% endblock title %}
{% block body_id %}registration_form{% endblock body_id %}
{% block body_class %}registration{% endblock %}

{% block content %}
<div class="">
    {% scribble "about-page" %}
    <h2>Thanks for registering!</h2>

    <div class="well">
        <div class="alert">
            An activation link has been sent to the email address you provided.
        </div>

        <div class="">
            Once you've clicked on the link in your activation email you will be
            able to <a href="{% url 'auth_login' %}">login</a>.
        </div>
    </div>
    {% endscribble %}
</div>
{% endblock content %}
