{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}About OpenNC{% endblock %}
{% block body_id %}about-page{% endblock body_id %}

{% block content %}
    <h1>About Open N.C.</h1>
    <div id="about" class="gray-card">
        {% scribble "about-page" %}
    	<p>
    	Open-NC.org is a catalog of digital public data created by state and local governments in North Carolina. It was created by Ryan Thornburg, an Associate Professor in the School of Journalism and Mass Communication at the University of North Carolina at Chapel Hill with funding from a John S. & James L. Knight Foundation News Challenge grant.
    	</p>
 
		<p>
		The site’s goal is to make it easier for you to to find, request and share information about digital public data in North Carolina. With easy access to this public data, we hope to support the transparency of North Carolina government, to lower the cost of watchdog reporting and to increase innovation and economic development.
		</p>
 		
 		
		<h3><a href="http://www.jomc.unc.edu/" target="_blank">The UNC School of Journalism and Mass Communication</a></h3>
		<p>
		The UNC School of Journalism and Mass Communication’s responsibility is to train the next generation of media professionals, including journalists, strategic communicators, teachers and researchers – and to serve journalism and communication professionals.
		</p> 

		
		<h3><a href="http://www.knightfoundation.org/" target="_blank">The John S. and James L. Knight Foundation</a></h3>
		<p>
		The John S. and James L. Knight Foundation is a 501(c)3 tax-exempt private foundation that supports transformational ideas that promote quality journalism, advance media innovation, engage communities and foster the arts.
		</p>
        {% endscribble %}
    </div>

    <!-- **** Uncomment the below code to add partners or awards to the about page **** -->

   <!--  <h2>Our Partners</h2>

    <div id="partners">
    	<div class="row-fluid gray-banner">
		    <div class="span3 resource_image"><h4>Logo</h4></div>
		    <div class="span6">
			    <h1>Company Name</h1>
			    <h4>Description?</h4>
		    </div>
		</div>
		<h2 class="ribbonRight">
		    <a href="#">Visit</a>
		</h2>
    </div>

</div></div> <!-- close span9, row-fluid from base -->
    
    <!-- <div class="row-fluid">
	    <h2 class="span3 sidebar-title">Awards</h2>

	    <div id="awards" class="span9">
	  		<div class="row-fluid gray-banner">
			    <div class="span3 resource_image"><h4>Logo</h4></div>
			    <div class="span6">
				    <h1>Award Name</h1>
				    <h4>Description?</h4>
			    </div>
			</div>
			<h2 class="ribbonRight">
			    <a href="#">More Info</a>
			</h2>
	    </div>
    </div> -->
{% endblock %}

