{% extends "base.html" %}

{% block content %}
    <h1>About OpenNC</h1>
    <div id="about" class="gray-card">
    	<p>Bacon ipsum dolor sit amet prosciutto cow bacon bresaola ham fatback. Sausage ham
hock jowl, ball tip pork prosciutto short loin hamburger. Frankfurter t-bone bacon chicken. Kielbasa strip steak shank tenderloin pancetta turducken filet mignon meatball prosciutto ribeye corned beef brisket jowl jerky. Spare ribs ham sirloin pig. Hamburger capicola ground round, chicken pork chop sausage rump. Ham sausage meatloaf hamburger andouille capicola shoulder short loin tongue biltong kielbasa.</p>
    	<p>Bacon ipsum dolor sit amet prosciutto cow bacon bresaola ham fatback. Sausage ham
hock jowl, ball tip pork prosciutto short loin hamburger. Frankfurter t-bone bacon chicken. Kielbasa strip steak shank tenderloin pancetta turducken filet mignon meatball prosciutto ribeye corned beef brisket jowl jerky. Spare ribs ham sirloin pig. Hamburger capicola ground round, chicken pork chop sausage rump. Ham sausage meatloaf hamburger andouille capicola shoulder short loin tongue biltong kielbasa.</p>
    </div>
    <h2>Our Partners</h2>

    <div id="partners">
    	<div class="row-fluid gray-banner">
		    <div class="span3 resource_image"><h4>Logo</h4></div>
		    <div class="span6">
			    <h1>Company Name</h1>
			    <h4>Description?</h4>
		    </div>
		</div>
		<h2 class="ribbonRight">
		    <a href="#">Visit</a>
		</h2>
    </div>

</div></div> <!-- close span9, row-fluid from base -->
    
    <div class="row-fluid">
	    <h2 class="span3 sidebar-title">Awards</h2>

	    <div id="awards" class="span9">
	  		<div class="row-fluid gray-banner">
			    <div class="span3 resource_image"><h4>Logo</h4></div>
			    <div class="span6">
				    <h1>Award Name</h1>
				    <h4>Description?</h4>
			    </div>
			</div>
			<h2 class="ribbonRight">
			    <a href="#">More Info</a>
			</h2>
	    </div>
    </div>
{% endblock %}

