{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}FAQ{% endblock %}
{% block body_id %}faq-page{% endblock body_id %}

{% block content %}
    <h1>FAQ</h1>
    <div id="FAQ" class="gray-card">
        {% scribble "faq-page" %}
	    <ul>
	    	<li><a href="#q1">Why was Open-NC.org created?</a></li>
	    	<li><a href="#q2">Who Created Open-NC.org?</a></li>
	    	<li><a href="#q3">Who Can Join the Open N.C. Community?</a></li>
	    	<li><a href="#q4">Does Open N.C. release private information stored in government databases?</a></li>
	    	<li><a href="#q5">Is Open N.C. an official state government website?</a></li>
	    	<li><a href="#q6">How does Open N.C. gather and verify information that is published on the site?</a></li>
    	</ul>
    	<ul>
	    	<li><a href="#q7">Did you make all these databases?</a></li>
	    	<li><a href="#q8">I see an error in a database. What do I do?</a></li>
	    	<li><a href="#q9">I see data that I want removed. What do I do?</a></li>
	    	<li><a href="#q10">Why is information about some databases incomplete?</a></li>
	    	<li><a href="#q11">Can I contribute money to Open N.C.?</a></li>
		</ul>

		<h4 id="q1">Why was Open-NC.org created?</h4>
		<p>
		State, county and local government agencies throughout North Carolina create millions of database entries every year, but few are easily available for public inspection – especially by rural residents who may live many miles from the county courthouses where the databases are stored. The N.C. General Assembly created statutes that says these databases should be open to public inspection. This site aims to help support that law.
 		<br><br>
		As part of a project to help rural newspapers in North Carolina develop new revenue streams in the digital age, University of North Carolina professors Penny Abernathy and Ryan Thornburg discovered that difficulties that journalists were having obtaining access to current and complete digital public data were increasing the legal and personnel expenses of news organizations while also limiting their revenue opportunities.
		<br><br>
		This site hopes to help make more digital public records readily available to journalists, entrepreneurs and engaged citizens who we hope might use this data to spur innovation in a variety of fields.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p> 
		<h4 id="q2">Who created Open-NC.org?</h4>
		<p>
		UNC Associate Professor Ryan Thornburg led the development of the site, which was created with funding from the John S. & James L. Knight Foundation, a 501(c)3 tax-exempt private foundation that supports transformational ideas that promote quality journalism, advance media innovation, engage communities and foster the arts. Developers at Caktus Consulting Group in Carrboro, N.C., programmed the site using some code that was first created by Azavea for OpenDataPhilly.com. The original site design was done by UNC journalism and mass communication student Matt Hayes.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q3">Who can join the Open N.C. community?</h4>
		<p>
		Anyone. We welcome citizens, journalists, librarians, other information professionals, politicians, activists, business people, government agency workers, web developers to our community.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q4">Does Open N.C. release private information stored in government databases?</h4>
		<p>
		Definitely not. We follow privacy laws that have been passed by federal and state lawmakers. State and federal law specifically requires government agencies to redact (or remove) private data if it's mixed with public data, and release the public portion.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q5">Is Open N.C. an official state government website?</h4>
		<p>
		No, Open-NC.org is not officially affiliated with state government agencies, with one distinction. Open Missouri was created by and is edited by a professor working at the University of North Carolina. The University of North Carolina School of Journalism and Mass Communication receives funding through funding from the N.C. General Assembly.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q6">How does Open N.C. gather and verify information that is published on the site?</h4>
		<p>
		When you and other community members suggest a database for the catalog, we ask you to provide as much information as you can. We edit this information and check it for accuracy before making it available on the site.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q7">Did you make all these databases?</h4>
		<p>
		No. In fact, all of the data catalog here is hosted by government agencies or other organizations that have acquired and published digital public data online for you to use. Those sites are responsible for the accuracy and completeness of the data they host. Wherever possible we link directly to the public data that is hosted by government agencies because that is the best way to know that the information is in its original format. However, original data hosted on government sites is not always free of errors and may not be as current or complete as versions of the data that private contributors have acquired from primary sources that are not available on the Internet.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q8">I see an error in a database. What do I do?</h4>
		<p>
		The databases’ creator and publisher is ultimately responsible, but we want to know about it, too. You should first contact the person listed on each dataset’s catalog page, but also please let us know at <a href:"mailto:info@open-nc.org?subject=Error in data on Open-NC.org">info@open-nc.org</a>.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q9">I see data that I want removed. What do I do?</h4>
		<p>
		We only catalog public data that was originally created and made public by government agencies in North Carolina. If you feel that this data was collected or released in violation of state or federal privacy laws, please contact the person listed on each dataset’s catalog page, but also please let us know at <a href:"mailto:info@open-nc.org?subject=Request to remove data from Open-NC.org">info@open-nc.org</a>.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q10">Why is information about some databases incomplete?</h4>
		<p>
		We strive to give you as much information as possible. However, sometimes agencies will fail to provide complete information. We believe it's better to get as much information out about these databases. You can help us by providing details later.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
		<h4 id="q11">Can I contribute money to Open N.C.?</h4>
		<p>
		If you'd like to support open records, data and government, you can <a href="http://www.jomc.unc.edu/gift" target="_blank">make a gift</a> to the University of North Carolina’s School of Journalism and Mass Communication and designate your contribution to support the work of Open-NC.org if you choose.
		<br><br>
		<a href="#FAQ">Back to Top</a>
		</p>
        {% endscribble %}
    </div>
{% endblock %}