{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}Privacy{% endblock %}
{% block body_id %}privacy-page{% endblock body_id %}

{% block content %}
    <h1>Privacy Policy</h1>
    <div id="privacy" class="gray-card">
        {% scribble "privacy-page" %}
    	<p>
    	Open-NC.org takes the privacy of you -- our site visitors and community members -- seriously. Please read this policy closely so you understand our practices. If you have any questions, please address them to privacy@open-nc.org. Our goal is to sustain a vibrant community while protecting your privacy. This policy may be updated from time to time, so we encourage you to visit this page often and become familiar with any changes. By using our website, you consent to information practices outlined in our <a href="{% url 'terms' %}">Terms of Use</a> and Privacy Policy.
    	</p>

		<h3>Normal Browsing</h3>
		<p>
		As with many websites, we collect certain information, even when you are not logged in. When you browse, read, or download information from the Site, data is collected by Open-NC.org, including but not limited to your IP address, URL request, browser type, and date and time of your request. The data are analyzed in various ways, including using a service called Google Analytics. (Google Analytics is subject to the .) We collect this information on an aggregate basis only. For example, we track which pages are most popular among visitors as a whole. We do not track information on which pages an individual user visits. We do not collect any other information without your knowledge and permission. We use this information to improve the usefulness of the site to our visitors. Unless you affirmatively provide additional information to us, we do not collect or store personally identifiable information such as name, mailing address, email address, phone number, or social security number.
		</p>

		<h3>Information You Provide</h3>
		<p>
		Open-NC.org requests personally identifiable information when you register for an account. Information may be used or requested to perform research, improve usability of the site, administer mailing lists or online communities, or other activities related to the site’s services. This information may include, but is not limited to, your personal names, e-mail addresses and the user names you create when you register.
		</p>

		<h3>Disclosure of Information</h3>
		<p>
		Available log records, account information, and all data stored on our servers may be accessed by our system administrators and site editors. In the event that we are required by law (including a court order) to disclose the information you submit, we will provide you with notice (unless we are prohibited) that a request for your information has been made so that you may object to the disclosure. We will send this notice by email to the address you have given us. We prefer to independently object to over-broad requests for access to information about users of our site, but we cannot assure you that we will be able to do this in all cases. If you do not challenge the disclosure request yourself, we may be legally required to turn over your information.
		</p>

		<h3>Transfer of information</h3>
		<p>
		In the event that Open N.C. is transferred to another organization, all website content will also be transferred.
		</p>

		<h3>Cookies</h3>
		<p>
		Cookies are small text files that Open-NC.org and other websites can send to your browser for storage on your computer's hard drive. They make your use of Open-NC.org easier by saving your status and preferences and are refreshed every time you visit. We may use session cookies when you visit our website while your browser is open, or while you are logged into Open-NC.org. To facilitate our registration and login functions, we may use cookies to recognize when you return to the site. If you do not logout of your account, these cookies allow us to keep track of your username and password so that you do not have to resubmit the information to log into your account. If others will be using your computer, you should log out of your account so that your logon information is cleared. Most browsers are initially set to accept cookies, but you may be able to change the settings to refuse cookies or to be alerted when cookies are being sent.
		</p>

		<h3>Children's Privacy</h3>
		<p>
		The site’s content is intended for adults and we will not knowingly collect personal information from children under 13 years of age. If you are a parent or legal guardian of a child under age 13 who you believe has submitted personal information to the site, please contact us immediately.
		</p>

		<h3>Posting</h3> 
		<p>
		Posting or updating content on the site is a public action, and all content may be publicly visible. Identification of all contributed content may include, but is not limited to, display of your account name. All content may be retained for restorative, archival, or research purposes by Open-NC.org. Editing or deleting content may alter the displayed state of the content, but will not permanently delete the content from the site.
		</p>

		<h3>Security</h3>
		<p>
		The site has security measures in place to protect the loss, misuse and alteration of the information under our control. However, your confidential use of the site cannot be guaranteed by Open-NC.org. Open-NC.org shall not be responsible for any harm that you or any person may suffer as a result of a breach of confidentiality in respect to your use of this site or any information you transmitted to the site.
		</p>

		<h3>Other Websites</h3>
		<p>
		Material on this website may link to independently run websites outside of the www.open-nc.org domain. Open-NC.org is not responsible for the privacy practices or content of such websites. We encourage you to read the privacy policies of any websites you visit from this website.
		</p>
        {% endscribble %}
    </div> 
{% endblock %}