{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}Terms of Use{% endblock %}
{% block body_id %}terms-page{% endblock body_id %}

{% block content %}
    <h1>Terms of Use</h1>
    <div id="terms" class="gray-card">
        {% scribble "terms-page" %}
    	<p>
    	By accessing or using data made available on Open-NC.org, the user agrees to all the terms and conditions stated below.
    	</p>
    	<ol>
    		<li>Open-NC.org is not responsible for the quality, content, accuracy, or completeness of any of the data sets, applications, or APIs linked to or on Open-NC.org.</li>
    		<li>The creator of the data sets, applications, and APIs retain any copyright or intellectual property restrictions they have placed on the data sets, applications, or APIs.</li>
    		<li>By using data linked from Open-NC.org, the user also agrees to any additional terms of use or conditions defined by the organization or individual who created the data set, application, or API.</li>
    		<li>We reserve the right to remove any data sets, applications, or APIs from the catalog at any time without prior notice.</li>
    		<li>The user assumes sole responsibility for any applications, visualizations, or other projects created using data found on Open-NC.org. The Open-NC.org team has no legal responsibility or indemnity for projects created using this data.</li>
    		<li>The Open N.C. team reserves the right to revise and change these terms of use at any time and without prior notice.</li>
		</ol>
		<p>
		We encourage you to leave comments and ratings on the data sets, applications, and APIs available on Open-NC.org. Such comments and ratings help build a community around open data and assist other users in locating and using data sets. By participating in the comment and rating area, you agree to abide by the following rules.
		<br /><br />
		Comments should stay on topic, respect other people's opinions, and avoid profanity and offensive statements.
		<br /><br />
		Comments that post or link to any content that is libelous, defamatory, obscene, pornographic, sexually explicit, unlawful, threatening, abusive or vulgar; that is hateful or racially or ethnically objectionable; that infringes on intellectual property rights; or that invades another person's privacy are not allowed and will be removed.
		<br /><br />
		Any content posted or linked to in the comment area should not:
		</p>
		<ul>
			<li>advertise or otherwise solicit funds.</li>
			<li>contain false or misleading information.</li>
			<li>infringe on the intellectual property rights, copyrights, or privacy of any person or entity.</li>
			<li>contain ad hominem (personal) attacks or threats.</li>
			<li>be written in such a way as to impersonate any other person.</li>
			<li>contain viruses, corrupted files, or other material that could harm the Open-NC.org website or any other computer system.</li>
		</ul>
		<p>
		Open-NC.org editors reserve the right to edit or delete any comments for any reason we deem appropriate. We reserve the right to disable the account of any user who repeatedly violates the terms of use. Participation in the comment area is at your own risk. By submitting or responding to a comment, you agree to be bound by these terms and agree that Open-NC.org retains the right to edit or remove any comments.
		</p>
        {% endscribble %}
    </div>
{% endblock %}