{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}Useful links{% endblock %}
{% block body_id %}links-page{% endblock body_id %}

{% block content %}
<h1>Useful Tools & Links</h1>
<div id="useful_links" class="gray-card">
    {% scribble "links-page" %}
	<p>This page is intended to help you either use data or find additional data sets not included in Open-NC.org.</p>

	<h3>Bring Open N.C. to Your State</h3>
	<p>Open-NC.org is a free and open-source Django Web app. You can fork the code on <a href="github.com" target="_blank">GitHub</a> at <a href="github.com/openrural/open-data-nc" target="_blank">https://github.com/openrural/open-data-nc</a></p>

	<h3>Free, Open Source Software</h3>
	<ul>
		<li><a href="http://www.openoffice.org/" target="_blank">OpenOffice</a> – for Mac, PC and Linux. Can work with Excel files, CSV and other delimited text files.</li>
		<!-- <li>– For Mac and PC. For working with .shp files.
		<li>- Useful for cleaning data . -->
		<li><a href="http://www.r-project.org/" target="_blank">R</a> – statistical analysis software.</li>
	</ul>

	<h3>Free, but Not Open Source Software</h3>
	<ul>
		<li><a href="http://www.esri.com/software/arcgis/explorer" target="_blank">ArcGIS Explorer Desktop</a> – for viewing .shp files</li>
		<!-- 	<li>– for viewing KML files -->	
		<li><a href="https://public.tableau.com" target="_blank">Tableau Public</a> – for PC only, a free but limited version of Tableau, a tool for creating quick data visualizations such as maps and charts</li>
	</ul>
	 
	<h3>Paid Proprietary Software</h3>
	<ul>
		<li><a href="http://office.microsoft.com/en-us/access/" target="_blank">Access</a></li>
		<li><a href="http://www.oracle.com/technetwork/database/enterprise-edition/downloads/index.html" target="_blank">Oracle</a></li>
		<li><a href="http://www.esri.com/software/arcgis/arcgis-for-desktop" target="_blank">ESRI ArcGIS for Desktop</a> - available at little or no cost for non-profit organizations. Freely available to UNC students and faculty via ITS.</li>
	</ul>

	<h3>Other Catalogs of Public Data</h3>
	<ul>
		<li><a href="data.gov" target="_blank">Data.gov</a></li>
		<li><a href="ncopenbook.com" target="_blank">NCOpenbook.com</a></li>
		<li><a href="http://www.lib.ncsu.edu/gis/" target="_blank">GIS Library at N.C. State University</a></li>
		<li><a href="http://census.ire.org/" target="_blank">Investigative Reporters & Editor’s Census.ire.org</a></li>
	 </ul>

	<h3>Tools for Acquiring Data</h3>
	<ul>
		<li><a href="http://www.rcfp.org/foia" target="_blank">Freedom of Information Act letter generator</a> - from Reporter’s Committee for Freedom of the Press.</li>
		<li><a href="http://www.splc.org/legalassistance/foiletter.asp" target="_blank">State Open Records Law Request letter generator</a> - from the Student Press Law Center.</li>
		<li><a href="https://www.muckrock.com/" target="_blank">MuckRock.com</a> - a web-based serviced to help you generate and track public records requests.</li>
		<li><a href="http://www.foiamachine.org/wiki/" target="_blank">FOIAmachine.org</a> - a web-based serviced to help you generate and track public records requests.</li>
		<li><a href="http://www.outwit.com/" target="_blank">OutWit</a> – a downloadable program for the Mac and PC that helps scrape data off of HTML webpages. Available in a free or paid full-feature version.</li>
		<li><a href="http://www.screen-scraper.com/" target="_blank">ScreenScraper</a> – a downloadable program for Mac, Windows or Linux that helps scrape data off of HTML webpages. Available in a free or paid full-feature version.</li>
		<li><a href="https://scraperwiki.com/help/code-in-your-browser/" target="_blank">ScraperWiki</a> – a self-service web platform where you can create and host web scrapping applications that you write in Python, Ruby, PHP or another programming language.</li>
	</ul>
	 
	<h3>Learn About Public Records</h3>
	<ul>
		<li><a href="https://www.elon.edu/docs/e-web/academics/communications/ncopengov/seekers/NCMediaLawHandbook2007.pdf" target="_blank">N.C. Media Law Handbook</a> (pdf)</li>
		<li><a href="http://www.ncga.state.nc.us/gascripts/statutes/statutelookup.pl?statute=132" target="_blank">N.C. Statutes, Chapter 132</a></li>
		<li><a href="http://www.ncdoj.gov/getdoc/ef04d580-eee7-4cfe-b2ec-06c26a6f95b9/AG-open-government-booklet-4-8-08.aspx" target="_blank">N.C. Attorney General’s Guide to Open Government and Public Records </a></li>
		<li><a href="http://www.elon.edu/e-web/academics/communications/ncopengov/innc/pubrec.xhtml" target="_blank">Sunshine Center at the North Carolina Open Government Coalition at Elon University</a></li>
		<li><a href="http://www.dmlp.org/legal-guide/access-public-records-north-carolina" target="_blank">Digital Media Law Project’s Access to Public Records in North Carolina</a></li>
		<li><a href="http://www.ncpress.com/ncpa/openmeetings.html" target="_blank">N.C. Press Association </a></li>
		<li><a href="http://sunlightfoundation.com/issues/freeing-federal-data/" target="_blank">Sunlight Foundation</a></li>
	</ul>

	<h3>Learn About Open Data Concepts</h3>
	<ul>
		<li><a href="http://schoolofdata.org/handbook/" target="_blank">The School of Data Handbook</a></li>
		<li><a href="http://opendatahandbook.org/" target="_blank">Open Data Handbook</a></li>
		<li><a href="http://datajournalismhandbook.org/" target="_blank">Data Journalism Handbook</a></li>
		<li><a href="http://getthedata.org/" target="_blank">GettheData.org</a></li>
	</ul>

	<h3>Technical Tutorials</h3>
	<ul>
		<li><a href="https://www.diigo.com/user/rtburg/excel" target="_blank">Excel</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/access" target="_blank">Access</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/refine" target="_blank">Refine</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/google-fusion" target="_blank">Google Fusion Tables</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/google-maps" target="_blank">Google Maps</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/qgis" target="_blank">QGIS</a></li>
		<li><a href="http://guides.lib.unc.edu/content.php?pid=434273&sid=3553419" target="_blank">ArcGIS</a></li>
	</ul>
	<ul>
		<li><a href="https://www.diigo.com/user/rtburg/outwithub" target="_blank">OutWit</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/tableau" target="_blank">Tableau</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/sql" target="_blank">SQL</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/scraping" target="_blank">Data Scraping</a></li>
		<li><a href="https://www.diigo.com/user/rtburg/data-visualization" target="_blank">Data Visulatization</a></li>
		<li><a href="http://www.w3schools.com/" target="_blank">W3Schools</a></li>
		<li><a href="http://www.codecademy.com/" target="_blank">Code Academy</a></li>
	</ul>
    {% endscribble %}
</div>

{% endblock %}