{% extends "base.html" %}

{% block content %}
<h1>Useful Links</h1>
<p>This page is intended to help use the data you have or find additional data sets not currently found in OpenNC.</p>

<h2>Software for using data</h2>
<ul id="useful_links_list">
	<li>CSV, XSLX: <a href="#">Excel</a>, <a href="#">OpenOffice Calc</a></li>
</ul>


<h2>Other Public Data Catalogs</h2>
<ul id="useful_links_list">
	<li><a href="opendataphilly.org">OpenDataPhilly</a></li>
	<li><a href="Data.gov">Data.gov</a></li>
</ul>

{% endblock %}