{% extends "base.html" %}
{% load ratings widget_tweaks sorting_tags pagination_tags %}

{% block title %}Request Public Data{% endblock %}
{% block body_id %}suggestions-list{% endblock body_id %}
{% block body_class %}suggestions{% endblock body_class %}

{% block content %}
    <h1>Request Public Data</h1>

    <p>Is there a public data set that a state, county, city or other government agency has created but that isn't publicly available online? Tell us about it here and we'll try to collect it and add it to the Open N.C. catalog for the public's use.</p>

    <p>Maybe you've seen a data set, but not in a format that follows the <a href="http://www.opengovdata.org/home/8principles">8 Principles of Open Government Data</a>. Or maybe you think an agency must be collecting and storing data on a topic, but you've not been able to get a copy of it. The best way to help make North Carolina government data more useful is to <a href="http://www.elon.edu/e-web/academics/communications/ncopengov/seekers/faq.xhtml">ask the government agency for help</a> and then <a href="http://open-nc.org/opendata/submit/">submit the data to our catalog</a> after you receive it. </p>

    <p>In the meanwhile, let us know what you're looking for. Other citizens are probably looking for the same thing. Once we approve each request we will make them public so that we can help connect you with other people looking for similar information in their hometowns.</p>

    <p>
        <a href="{% url 'suggestion-create' %}" class="btn btn-primary btn-large btn-block">Request Data</a>
    </p>

    <h2>Current Requests</h2>
    <div class="search">
        <form method='GET' action='.'>
            {{ form.text|attr:"placeholder:Search requests..." }}
        </form>
    </div>

    <div id="results_header">
        <div id="results_info">
            <div id="count">{{results.count}} RESULTS</div>
            <div id="sort" class="sort_nomination">
                <ul>
                    <li id="sort_rating_score">{% anchor rating_score Votes %}</li>
                    <li id="sort_suggested_date">{% anchor date Date %}</li>
                </ul>
            </div>
        </div>
    </div>
{% autosort suggestions %}
{% autopaginate suggestions 6 %}
    <div class="suggestions row">
    {% for suggestion in suggestions %}
        {% rating_by_request request on suggestion.rating as vote %}
        <div class="suggestion span12">
            <h3 class="nom_text">{{ suggestion }}</h3>
            <div class="votes">
                {{ suggestion.rating_votes }} vote{% if suggestion.rating_votes != 1 %}s{% endif %}
            </div>
            <div class="nom_byline">
                By <strong>{{ suggestion.suggested_by }}</strong> on <strong>{{ suggestion.suggested_date|date:"SHORT_DATE_FORMAT" }}</strong>
            </div>
            {% if not s.completed %}
                {% if user.is_authenticated %}
                    {% if vote %}
                        {% if not suggestion.completed %}
                            <form method='post' action="{% url 'suggestion-remove-vote' suggestion.id %}">
                                {% csrf_token %}
                                <input class="btn btn-secondary btn-block" type="submit" value="Remove Vote" />
                            </form>
                        {% endif %}
                        <div id="nom_voted">YOU VOTED!</div>
                    {% else %}
                        <form method='post' action="{% url 'suggestion-vote' suggestion.id %}">
                            {% csrf_token %}
                            <input class="btn btn-secondary btn-block" type="submit" value="Vote!" />
                        </form>
                    {% endif %}
                {% else %}
                    <a class="nom_vote_login" href="{% url 'auth_login' %}?next={{ request.get_full_path }}">Login to vote</a>
                {% endif %}
            {% else %}
                <div id="closed">Nomination Closed</div>
            {% endif %}
        </div>
    {% empty %}
        <div class="resource">No nominations yet! What would you like to see added to this site?</div>
    {% endfor %}
    </div>
    <div id="pager">{% paginate %}</div>
{% endblock %}
