{% extends "base.html" %}
{% load widget_tweaks comments scribbler_tags %}

{% block title %}Submit Data{% endblock title %}
{% block body_id %}resource-detail{% endblock body_id %}
{% block body_class %}catalog{% endblock body_class %}

{% block extra-meta %}
<meta property="og:title" content="{{ object }}"/>
<meta property="og:url" content="{{ site_url }}{{ object.get_absolute_url }}"/>
<meta property="og:image" content=""/>
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Open N.C."/>
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}rating/jquery.rating.css">
{% endblock %}

{% block content %}
<h1>Share Public Data</h1>


    {% scribble "share-page-1" %}

<div class="gray-card">
	<p>We realize that we haven't listed every North Carolina-based government data
	 set in the Open N.C. catalog. If you have a specific data set that you've found
	 and would like to share, let us know by completing and submitting the form
	 below. We'll review the information and determine whether the data set
	 should be included in Open N.C.. The data must be specific to North
	 Carolina, available online, and contain information in columns and rows. Our
	 goal is to catalog government datasets that adhere as closely as possible to
	 the <a href="http://www.opengovdata.org/home/8principles" target="_blank">8 Principles of Open Government Data</a>. A full list of review criteria is
	 available on the <a href="{% url 'faq' %}">FAQ</a> page.
	</p>

	<p>
	This form is for recommending specific data sets, applications, or APIs.
	If you'd like to nominate a general area where you think data should be more
	easily available, visit the Request Data page.
	</p>

	<p>
	If the data is not already online, there are several ways you can help put it
	online. Remember, though, that the more disconnected data becomes from its
	original source the less it adheres to the 8 Principles of Open Government
	Data. Data sets that aren't as close to the source as possible and for which
	the acquisition and publication processes aren't transparent will not be
	included in the catalog.
	</p>
    {% endscribble %}

	<br>

	{% scribble "share-page-2" %}
	<p>
	Ideally, the data you want to share is already public on a government website.
	If it is, please post here the URL that points directly to the dataset.
	</p>
	{% endscribble %}
	
	<form id="url-suggest-form" action="{% url 'suggest-create' %}" method='get'>
		<div class="input-append">
		    {{ form.url|attr:'placeholder:URL...' }}
		    <button class="btn">Go</button>
	    </div>
	</form>
    
</div>

{% scribble "share-page-2" %}
<h2>Tools for Sharing Public Data</h2>

<br>

<div class="sharing_tools">
	<div class="row-fluid">
		<h3 class="span2"><a href="http://opendata.socrata.com">Socrata</a></h3>
		<div class="span10">If you have a single file in the .csv, .tsv, .xls, or .xlsx formats, you can upload it to Socrata, where users will be able to download it or access it with an API. Note that there's a 200MB limit to the size of the file you can upload.
		Sign up for Socrata
		Upload a file
		Upload data via the API
		Once you have your data in Socrata, return to this page and paste the URL in the form above.
		</div>
	</div>

	<hr>

	<div class="row-fluid">
		<h3 class="span2"><a href="http://www.outwit.com/products/hub/pro">OutWit</a></h3>
		<div class="span10">OutWit is an application called a scraper that you download to your PC or Macintosh computer. It helps you "scrape" data from government websites when they don't make it available in a fielded file format. After scraping a website, you will have a data file on your local computer that you would need to upload to a site such as Socrata.
		Download OutWit (free or paid versions available)
		Write your first scraper
		Scraping for Journalists
		</div>
	</div>

	<hr>

	<div class="row-fluid">
		<h3 class="span2"><a href="http://www.scraperwiki.com">Scraper<br class="hidden-phone">Wiki</a></h3>
		<div class="span10">If you know a programming language such as Python or Ruby, you can use it to write very complex scrapers and make the data available via API on ScraperWiki. ScraperWiki offers a limited free service as well as robust professional subscription plans.
		Scraping for Journalists ebook by Paul Bradshaw
		ScraperWiki Tutorials
		ProPublica's "Scraping for Journalists"</div>
	</div>

	<hr>

	<div class="row-fluid">
		<h3 class="span2"><a href="https://www.documentcloud.org">Document<br class="hidden-phone">Cloud</a></h3>
		<div class="span10">In cases where important public information isn't recorded or available in a structured data format, journalists can use DocumentCloud to upload PDFs and then annotate and publish them. Once documents are online, they can later be turned into data using a variety of techniques and tools. DocumentCloud is a project of an organization called Investigative Reporters and Editors, and use of the site requires their permission.
		Sign up for DocumentCloud
		</div>
	</div>

	<hr>

	<div class="row-fluid">
		<h3 class="span2"><a href="http://raleighpublicrecord.org/tag/dochive/">DocHive</a></h3>
		<div class="span10">Founded by the non-profit Raleigh Public Record, DocHive is an open-source Java application that takes PDF versions of paper forms and turns them into structured data. The result is a CSV file that can be uploaded and shared via Socrata.
		Download DocHive</div>
	</div>

	<hr>

	<div class="row-fluid">
		<h3 class="span2"><a href="https://www.muckrock.com">MuckRock</a></h3>
		<div class="span10">Many public records remain offline and available only by writing a public records request. Public records requests are a very specific type of request governed by North Carolina state law. And requests don't always yield the results you want or on a reasonable deadline. MuckRock's online service helps you track your records requests and make the disclosure process more transparent. Once digital public data are made available to you either online or on a CD-ROM, you may still need to use one or more of the other tools to share them here.
		Register for MuckRock
		FAQ on North Carolina public records law, from the N.C. Open Government Coalition
		North Carolina Media Law Handbook (PDF), by Cathy Packer, Hugh Stevens and C. Amanda Martin.</div>
	</div>
</div>
{% endscribble %}
{% endblock %}