{% extends "base.html" %}
{% load widget_tweaks comments thumbnail %}

{% block title %}{{ object|title }}{% endblock title %}
{% block body_id %}resource-detail{% endblock body_id %}
{% block body_class %}catalog{% endblock body_class %}

{% block extra-meta %}
<meta property="og:title" content="{{ object }}"/>
<meta property="og:url" content="{{ site_url }}{{ object.get_absolute_url }}"/>
<meta property="og:image" content=""/>
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Open Data NC"/>
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}rating/jquery.rating.css">
{% endblock %}

{% block extra-js %}
    <script charset="utf-8" src="{{ STATIC_URL }}rating/jquery.rating.pack.js"></script>
    <script charset="utf-8" src="{{ STATIC_URL }}js/comment_form.js"></script>
{% endblock extra-js %}

{% block content %}


<h1 id="title">{{resource}}</h1>
<h4 id="description">{{resource.short_description|safe}}</h4>

<!-- social widgets -->
<div id="social-widgets">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1406142562935221";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
   
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" data-href="{{ request.location }}" data-width="450" data-show-faces="true" data-send="true"></div>
</div>

<!-- end social widgets -->

  <div id="content_resource" class="tab_container gray-card">
    <div class="row-fluid">
      <div class="span4 pull-right">
          <div class="resource-image">
            {% thumbnail resource.get_first_image.image "254x254" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
            {% empty %}
                Default image needs to go here.
            {% endthumbnail %}
          </div>
          <h2 class="ribbonRight"><a id="share-data">Share data</a></h2>
      </div>
      <div class="span8">
        {% if perms.opendata.change_resource %}
            <div id="admin_link"><a href="{{SITE_ROOT}}/_admin_/opendata/resource/{{resource.id}}" target="_blank">Edit</a></div>
        {% endif %}
        <!-- <ul class="tab_header">
          <li class="tab_button"><a href="#tab_basic_info" onclick="odp.trackEvent('Resource Data', 'View Basic Info', 'Resource', {{resource.id}});return false;">BASIC INFO</a></li>
          <li class="tab_button"><a href="#tab_extra_info" onclick="odp.trackEvent('Resource Data', 'View All Info', 'Resource', {{resource.id}});return false;">ALL INFO</a></li>
        </ul>
        <div class="tab_body" id="tab_basic_info">

          <div id="tab_data">
            {% if resource.organization %}
            <div class="info_label">Organization: <span class="info_data"><a href="{{SITE_ROOT}}/opendata/search/?qs={{resource.organization}}" onclick="odp.trackEvent('Search Link', 'Resource Organization', 'Resource', {{resource.id}})">{{resource.organization}}</a></span></div>
            {% endif %}
            {% if resource.division %}
            <div class="info_label">Division: <span class="info_data"><a href="{{SITE_ROOT}}/opendata/search/?qs={{resource.division}}" onclick="odp.trackEvent('Search Link', 'Resource Organization', 'Resource', {{resource.id}})">{{resource.division}}</a></span></div>
            {% endif %}
            {% if resource.release_date %}
            <div class="info_label">Release Date: <span class="info_data">{{resource.release_date}}</a></span></div>
            {% endif %}
            {% if resource.time_period %}
            <div class="info_label">Valid Time PeriodL <span class="info_data">{{resource.time_period}}</span></div>
            {% endif %}
            {% if resource.data_types.all.count > 0 %}
            <div class="info_label">Data Types: 
              <span class="info_data">
              	{% for dt in resource.data_types.all %}
      		    	 {{dt}}{% if not forloop.last %}, {% endif %}
              	{% endfor %}
              </span>
            </div>
            {% endif %}
            <div class="info_label">Categories: 
            <span class="info_data">
              {% for tag in resource.tags.all %}
                <a href="{{SITE_ROOT}}/opendata/tag/{{tag.id}}/?sort=name&dir=asc" onclick="odp.trackEvent('Search Link', 'Resource Tag', 'Tag', '{{tag}}')">{{tag}}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
              </span>
            </div>
        
      </div>
      <div class="clear"></div>
    </div> -->
    

    <div class="tab_body" id="tab_extra_info">
	  <div id="tab_data">
		{% if resource.organization %}
		<div class="info_label">Organization: <span class="info_data"><a href="{{SITE_ROOT}}/opendata/search/?qs={{resource.organization}}" onclick="odp.trackEvent('Search Link', 'Resource Organization', 'Resource', {{resource.id}})">{{resource.organization}}</a></span></div>
		{% endif %}
		{% if resource.division %}
		<div class="info_label">Division: <span class="info_data"><a href="{{SITE_ROOT}}/opendata/search/?qs={{resource.division}}" onclick="odp.trackEvent('Search Link', 'Resource Division', 'Resource', {{resource.id}})">{{resource.division}}</a></span></div>
		{% endif %}
		{% if resource.release_date %}
		<div class="info_label">Release Date: <span class="info_data">{{ resource.release_date }}</a></span></div>
		{% endif %}
		{% if resource.time_period %}
		<div class="info_label">Valid Time Period: <span class="info_data">{{resource.time_period}}</span></div>
		{% endif %}
		{% if resource.data_types.all.count > 0 %}
		<div class="info_label">Data Types: 
		  <span class="info_data">
  			{% for dt in resource.data_types.all %}
  				{{dt}}{% if not forloop.last %}, {% endif %}
  			{% endfor %}
      </span>
		</div>
		{% endif %}
		<div class="info_label">Categories: 
		<span class="info_data">
		  {% for tag in resource.tags.all %}
			<a href="{{SITE_ROOT}}/opendata/tag/{{tag.id}}" onclick="odp.trackEvent('Search Link', 'Resource Tag', 'Tag', '{{tag}}')">{{tag}}</a>{% if not forloop.last %}, {% endif %}
		  {% endfor %}
      </span>
		</div>
		<div class="info_label">Usage: <span class="info_data accent">{{resource.usage}}</span></div>
		<!-- <div class="info_label">Description</div><div class="info_data">{{resource.description|safe}}</div> -->
		{% if resource.updates %}
			<div class="info_label">Update Frequency: <span class="info_data accent">{{resource.updates}}</span></div>
		{% endif %}
		{% if resource.area_of_interest %}
			<div class="info_label">Area of Interest: <span class="info_data">{{resource.area_of_interest}}</span></div>
		{% endif %}
		{% if resource.coord_sys.all.count > 0 %}
			<div class="info_label">Coordinate Systems: 
        <span class="info_data">
				  {% for cs in resource.coord_sys.all %}
					{{cs}}{% if not forloop.last %}, {% endif %}
				  {% endfor %}
        </span>
			</div>
		{% endif %}
		{% if resource.contact_phone %}
			<div class="info_label">Contact Phone: <span class="info_data">{{resource.contact_phone}}</a></span></div>
		{% endif %}
		{% if resource.contact_email %}
			<div class="info_label">Contact Email: <span class="info_data"><a href="mailto:{{resource.contact_email}}" target="_blank" onclick="odp.trackEvent('External Link', 'Resource Email', 'Email', '{{resource.contact_email}}')">{{resource.contact_email}}</a></span></div>
		{% endif %}
		{% if resource.contact_url %}
			<div class="info_label">Contact Url: <span class="info_data"><a href="{{resource.contact_url}}" target="_blank" onclick="odp.trackEvent('External Link', 'Resource Contact Url', 'Url', '{{resource.contact_url}}')">{{resource.contact_url}}</a></span></div>
		{% endif %}
        <div class="info_label">Date Added: <span class="info_data accent">{{resource.created}}</span></div>
        <div class="info_label">Last Update: <span class="info_data accent">{{resource.last_updated}}</span></div>
	  </div>
	  <div class="clear_left"></div>
    </div>
    </div>
    
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="info_label">Description: </div>
        <br>
        <div class="info_data">{{resource.description|safe}}</div>
      </div>
    </div>

  </div>


  <div class="tab_container" id="content_data">
    <ul class="tab_header">
      <li class="tab_button"><a href="#tab_data" onclick="odp.trackEvent('Resource Data', 'Data', 'Resource', {{resource.id}});return false;">DATA</a></li>
      <li class="tab_button"><a href="#tab_metadata" onclick="odp.trackEvent('Resource Data', 'Metadata', 'Resource', {{resource.id}});return false;">METADATA</a></li>
    </ul>
    <div class="tab_body" id="tab_data">
    {% if resource.get_grouped_urls.Data %}
      <div class="data_block">
        <div class="url_header">
          <div id="resource_icon_Data" class="url_image"></div><div class="url_label">Raw Data</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.Data %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if resource.get_grouped_urls.Documentation %}
      <div class="data_block" id="data_documention">
        <div class="url_header">
          <div id="resource_icon_Documentation" class="url_image"></div><div class="url_label">Documentation</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.Documentation %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}

      {% if resource.get_grouped_urls.API %}
      <div class="data_block" id="data_api">
        <div class="url_header">
          <div id="resource_icon_API" class="url_image"></div><div class="url_label">APIs</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.API %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if resource.get_grouped_urls.Application %}
      <div class="data_block" id="data_application">
        <div class="url_header">
          <div id="resource_icon_Application" class="url_image"></div><div class="url_label">Applications</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.Application %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    <div class="clear"></div>
    </div>
  </div>

  <div class="tab_container" id="content_ratings">
    <ul class="tab_header">
      <li class="tab_button"><a href="#ratings-tab">RATINGS/COMMENTS</a></li>
    </ul>
    <div class="tab_body" id="ratings-tab">
      <div id="social_meta">
        <h3 id="avg_rating">Average Rating</h3>
        <div id="detail_rating">
          <span>{{resource.rating_votes|default:"0"}} Votes</span>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled" {% if average_rating == 1 %}checked{% endif %}/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled" {% if average_rating == 2 %}checked{% endif %}/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled" {% if average_rating == 3 %}checked{% endif %}/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled" {% if average_rating == 4 %}checked{% endif %}/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled" {% if average_rating == 5 %}checked{% endif %}/>
        </div>
      </div>
      <div id="comment_form">
        <div>
          {% if user.is_authenticated %}
          {% get_comment_form for resource as form %}
            <form id="resource_comment_form" action="{% comment_form_target %}" method="post">{% csrf_token %}
              <div id="comment_field_errors"></div>
              <input type="hidden" name="next" value="{{request.get_full_path}}" />
              {% for field in form %}
              {% if field.is_hidden %}
                {{ field }}
              {% else %}
                {% ifequal field.name "rating" %}
                <div id="rate_container">
                  <div id="rate_label">Rate this data  </div><div id="rate">{{ field }}</div>
                 </div>
                {% else %}
                  {% if field.errors %}{{ field.errors }}{% endif %}
                  <div class="comment_field {% if field.errors %} error{% endif %}"
                  {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "url" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "email" %} style="display:none;"{% endifequal %}>
                  {{ field }}
                  </div>
                {% endifequal %}
              {% endif %}
              {% endfor %}
              <div class="clear"></div>
              <div class="submit">
                <input type="submit" name="post" class="btn" value="Post" />
              </div>
            </form>
          {% else %}
            <div>Please <a href="{% url "auth_login" %}?next={{ request.get_full_path }}">login</a> to add comments</div>
          {% endif %}
        </div>
      </div>
      <div id="comment_list">
        <div id="comment_header">Comments</div>

        {% get_comment_list for resource as comment_list %}
        {% for comment in comment_list %}
          <div class="comment_item">
            <div class="comment_head">
              <div class="comment_rating">
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled" {% if comment.rating == 1 %}checked{% endif %}/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled" {% if comment.rating == 2 %}checked{% endif %}/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled" {% if comment.rating == 3 %}checked{% endif %}/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled" {% if comment.rating == 4 %}checked{% endif %}/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled" {% if comment.rating == 5 %}checked{% endif %}/>
              </div>
              <div class="comment_user">{{ comment.user.username }}</div>
              <div class="comment_date">{{ comment.submit_date|date:"m/d/Y"}}</div>
            </div>
            <div class="comment_body">
              {{ comment.comment }}
              </div>
              <div class="clear"></div>
          </div>
        {% empty %}
          <div class="comment_item">No comments yet!</div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content%}