{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}{{ object|title }}{% endblock title %}
{% block body_id %}resource-detail{% endblock body_id %}
{% block body_class %}catalog{% endblock body_class %}

{% block extra-meta %}
<meta property="og:title" content="{{ object }}"/>
<meta property="og:url" content="{{ site_url }}{{ object.get_absolute_url }}"/>
<meta property="og:image" content=""/>
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Open Data NC"/>
{% endblock %}


{% block content %}
    <h1>{{ object }}</h1>
    <a href="#"
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;" class="btn btn-primary"> <i class="icon-facebook"></i> Share on Facebook
</a>

    {% if object.release_date %}
    <h3>Release Date</h3>
    {{ resource.release_date }}
    {% endif %}

    {% with cities=object.cities.all  %}
    {% if cities %}
    <h3>Cities</h3>
        <ul>
        {% for city in cities %}
            <li>{{ city }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% if object.organization %}
    <h3>Description</h3>
    {{ resource.organization }}
    {% endif %}

    {% if object.usage %}
    <h3>Usage</h3>
    {{ resource.usage }}
    {% endif %}

    {% with categories=object.categories.all  %}
    {% if categories %}
    <h3>Cities</h3>
        <ul>
        {% for category in categories %}
            <li>{{ category }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    {% if object.description %}
    <h3>Description</h3>
    {{ object.description|linebreaks }}
    {% endif %}

    {% if resource.contact_phone %}
    <h3>Contact Number</h3>
    {{ object.contact_phone }}
    {% endif %}

    {% if object.contact_email %}
    <h3>Contact Email</h3>
    {{ object.contact_email }}
    {% endif %}
{% endblock content%}