{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Request Data{% endblock title %}
{% block body_id %}request-data{% endblock body_id %}
{% block body_class %}request-data{% endblock %}


{% block content %}
<h1>Request Data</h1>
<p>Before you add a new request, you should <a href="{% url 'request-list' %}">search previous requests</a> to make sure someone else hasn't already made the same request.</p>

<br>

<form id="request-form" method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
    
            <span class="control-group{% if field.errors %} error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
            </span>
        
            <span class="controls" id="controls_{{ field.html_name }}">
                {{ field }}
                {% if field.errors %}
                <span class="help-block">{{ field.errors.0|safe }}</span>
                {% endif %}
                {% if field.help_text %}
                <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
            </span>
       
    {% endfor %}
    <div class="control-group">
        <input class="btn btn-primary btn-large btn-block" type="submit" value="Submit" />
    </div>
</form>
{% endblock content %}
