{% extends "base.html" %}
{% load ratings widget_tweaks sorting_tags pagination_tags scribbler_tags %}
{% load widget_tweaks facet_tags %}

{% block title %}Request Public Data{% endblock %}
{% block body_id %}requests-list{% endblock body_id %}
{% block body_class %}requests{% endblock body_class %}

{% block content %}
    <h1>Request Public Data</h1>
    <div class="gray-card">
        {% scribble "request-data" %}
        <p>Is there a public data set that a state, county, city or other government agency has created but that isn't publicly available online? Tell us about it here and we'll try to collect it and add it to the Open N.C. catalog for the public's use.</p>

        <p>Maybe you've seen a data set, but not in a format that follows the <a href="http://www.opengovdata.org/home/8principles">8 Principles of Open Government Data</a>. Or maybe you think an agency must be collecting and storing data on a topic, but you've not been able to get a copy of it. The best way to help make North Carolina government data more useful is to <a href="http://www.elon.edu/e-web/academics/communications/ncopengov/seekers/faq.xhtml">ask the government agency for help</a> and then <a href="http://open-nc.org/opendata/submit/">submit the data to our catalog</a> after you receive it. </p>

        <p>In the meanwhile, let us know what you're looking for. Other citizens are probably looking for the same thing. Once we approve each request we will make them public so that we can help connect you with other people looking for similar information in their hometowns.</p>
        {% endscribble %}
        <form id="url-suggest-form" action="{% url 'request-create' %}" method='get'> 
            <button class="btn">Request Data</button>
        </form>
    </div>


    <h2>Current Requests</h2>
    <div id="search-requests" class="search">
        <form method='GET' action='.'>
            <div class="input-append">
                {{ form.text|attr:"placeholder:Search requests..." }}
                <button class="btn"><i class="icon-search icon-white"></i></button>
            </div>
        </form>
    </div>

    <div id="results_header">
        <div id="results_info">
            <div id="count">{{results.count}} RESULTS</div>
            <div id="sort" class="sort_nomination">
                <ul>
                    <li>Sort by:</li>
                    <li id="sort_rating_score">{% anchor rating_score "Rating Score" %} <span class="accent">|</span> </li>
                    <li id="sort_suggested_date">{% anchor rating_votes Votes %} <span class="accent">|</span> </li>
                    <li id="sort_suggested_date">{% anchor creation_date Date %}</li>
                </ul>
            </div>
        </div>
    </div>
{% autosort requests %}
{% autopaginate requests 6 %}
        <div class="requests">
    {% for object in requests %}
        {% rating_by_request request on object.rating as vote %}
        <div class="row-fluid gray-banner request">
            <div class="span3 resource_image votes">
                <span>{{ object.rating_votes }}</span><br><span>vote{{object.rating_votes|pluralize}}</span>
            </div>
            <div class="span6 request-details">
                <h3 class="nom_text">{{ object }}</h3>
                <div class="nom_byline">
                    By <strong>{{ object.suggested_by }}</strong> on <strong>{{ object.date }}</strong>
                </div>
            </div>
            <div class="span3 vote-or-login">
            {% if not s.completed %}
                {% if user.is_authenticated %}
                    {% if vote %}
                        {% if not object.completed %}
                            <form method='post' action="{% url 'request-remove-vote' object.id %}">
                                {% csrf_token %}
                                <input class="btn btn-secondary btn-block" type="submit" value="Remove Vote" />
                            </form>
                        {% endif %}
                        <div id="nom_voted">YOU VOTED!</div>
                    {% else %}
                        <form method='post' action="{% url 'request-vote' object.id %}">
                            {% csrf_token %}
                            <input class="btn btn-secondary btn-block" type="submit" value="Vote!" />
                        </form>
                    {% endif %}
                {% else %}
                    <a class="nom_vote_login" href="{% url 'auth_login' %}?next={{ object.get_full_path }}">Login to vote</a>
                {% endif %}
            {% else %}
                <div id="closed">Nomination Closed</div>
            {% endif %}
            </div>
        </div>
        <br>
    {% empty %}
        <div class="resource">No nominations yet! What would you like to see added to this site?</div>
    {% endfor %}
    </div>
    <div id="pager">{% paginate %}</div>
</div></div> <!-- /span9 & /row-fluid from base -->
{% endblock %}
