/* Table of Contents
 * -- Includes
 * -- Variables
 * -- Sitewide
 * -- Individual pages
 */

/* Includes
==================== */

/**------ Bootstrap ------**/

// Core variables and mixins
@import "../bootstrap/less/variables"; // Modify this for custom colors, font-sizes, etc
@import "../bootstrap/less/mixins";

// CSS Reset
@import "../bootstrap/less/reset";

// Grid system and page structure
@import "../bootstrap/less/scaffolding";
@import "../bootstrap/less/grid";
@import "../bootstrap/less/layouts";

// Base CSS
@import "../bootstrap/less/type";
@import "../bootstrap/less/code";
@import "../bootstrap/less/forms";
@import "../bootstrap/less/tables";

// Components: common
@import "../bootstrap/less/sprites";
@import "../bootstrap/less/close";
@import "../bootstrap/less/component-animations";

// Components: Buttons & Alerts
@import "../bootstrap/less/alerts";

// Components: Nav
@import "../bootstrap/less/navs";
@import "../bootstrap/less/navbar";

// Components: Responsive
@import "../bootstrap/less/responsive-utilities";
@import "../bootstrap/less/responsive-1200px-min";
@import "../bootstrap/less/responsive-768px-979px";
@import "../bootstrap/less/responsive-767px-max";
@import "../bootstrap/less/responsive-navbar";

/**------ Flat UI ------**/

// Loading custom fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import "../flat-ui/less/icon-font";

// Loading config with variables (changing them leads to changing a color scheme)
@import "../flat-ui/less/config";

// Utility mixins for greater good
@import "../flat-ui/less/mixins";

// Modules
/*@import "../flat-ui/less/modules/demo";*/
@import "../flat-ui/less/modules/type";
@import "../flat-ui/less/modules/buttons";
@import "../flat-ui/less/modules/caret";
/*@import "../flat-ui/less/modules/navbar";*/
/*@import "../flat-ui/less/modules/select";*/
@import "../flat-ui/less/modules/input";
/*@import "../flat-ui/less/modules/checkbox-and-radio";*/
/*@import "../flat-ui/less/modules/tagsinput";*/
/*@import "../flat-ui/less/modules/progress";*/
/*@import "../flat-ui/less/modules/ui-slider";*/
/*@import "../flat-ui/less/modules/pager";*/
/*@import "../flat-ui/less/modules/pagination";*/
/*@import "../flat-ui/less/modules/tooltip";*/
@import "../flat-ui/less/modules/dropdown";
/*@import "../flat-ui/less/modules/switch";*/
/*@import "../flat-ui/less/modules/share";*/
/*@import "../flat-ui/less/modules/palette";*/
/*@import "../flat-ui/less/modules/tile";*/
/*@import "../flat-ui/less/modules/todo";*/
@import "../flat-ui/less/modules/footer";
/*@import "../flat-ui/less/modules/video";*/
/*@import "../flat-ui/less/modules/login";*/
/*@import "../flat-ui/less/spaces";*/

/* Variables
==================== */

@base:             @brownDark;
@firm:             @brownDark;

@gray:             @openGrayDark;
@lightgray:        @openGray;
@inverse:          white;

@success:          #2ECC71; // @emerald is undefined.
@danger:           @alizarin;
@warning:          @sun-flower;
@info:             @peter-river;

@link-color:       @brownDark;

/*@inputHeight: 25px;
@baseLineHeight: 25px;*/

/* Bootstrap settings
 *
 * Had to override these since we have custom locations for bootstrap resources
 */
@iconSpritePath:          "/static/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/static/bootstrap/img/glyphicons-halflings-white.png";

/* Sitewide
==================== */

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../flat-ui/fonts/OpenSans-CondBold-webfont.eot');
    src: url('../flat-ui/fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../flat-ui/fonts/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../flat-ui/fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../flat-ui/fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_sans_condensedbold', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

p { 
    margin: 14px 0;
}

a { 
    text-decoration: none;
}

.accent {
    color: @blue;
    font-size: @baseFontSize;
    vertical-align: top;
}

.navbar {
    margin-top: 20px;
    .navbar-inner {
        .nav {
            > li {
                > a {
                    border: none;
                    i {
                      font-size: 24px;
                      margin: 0px 4px 0px 0px;
                      position: relative;
                      top: 4px;
                    }
                }
            }
        }
        .brand {
            border: none;
            text-decoration: none;
            @media (max-width: 767px) {
                padding-left: 15px;
            }
        }
    }
}

#messages {
    text-align: center;
    min-height: 1px;
}

header {

    #logo {
        background-image:;
        background-size: contain;
        color: @brownDark;
        span {
            font-size: 4em;
        }
    }

    #intro_text {
        font-size: 1.9em;
        text-align: center;
        margin-top: 10px;
    }

    #login {
        text-align: right;  
    }
      
}

nav {
    h1 {
        border-bottom: 2px @blue solid;
        display: inline;
    }
}

footer {
    margin-top: 1em;
    padding: 1.5em;

    .offset4 h4 {
        text-align: right;
    }

    span{
        color: @blue;
    }
}

/**** Ribbon ****/
.ribbon {
    position: relative;
    padding: 5px 10px;
    background-color: @blue;
    text-shadow: 0px 1px 2px darker(@brownDark, 20%);
    -webkit-box-shadow: 0px 2px 4px #888;
    -moz-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;

    &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }
       
}


.ribbonRight {
    .ribbon;

    width: 75%;
    bottom: 2.95em;
    left: .6em;
    float:right;

    &:before {
        right: 0px;
        top: 100%;
        border-width: 8px;
        border-color: @brownDark transparent transparent @brownDark;
    }
}

.ribbonLeft {
    .ribbon;

    width: auto;
    float: left;
    right: .4em;
    top: .3em;

    &:before {
        left: 0px;
        bottom: 100%;
        border-width: 5px;
        border-color: transparent @brownDark @brownDark transparent;
    }
}

.form-horizontal {
    .control-label {
        padding-top: 10px;
    }
}

/* Individual pages
==================== */

/***** Home *****/

#featured_projects_window {
    height: 400px;
    background-image: url('http://images4.fanpop.com/image/photos/14700000/So-cute-puppies-14749028-1600-1200.jpg');
    background-size: cover;
}

#latest_resources_title {
    text-align: right;
    border-right: 2px @blue solid;
    padding: 5px;

    @media (max-width: 767px) {
                text-align: center;
                border: 2px solid @blue;
                border-style: solid none;
            }

}

/** Latest Resources Table **/

table {
    width: 100%;
    font-size: 1.2em;

    a {
        color: @blue;
    }

    tr:nth-child(even) {
        background-color: @openGray;
    }
}



thead th {
   white-space: nowrap;
   border-bottom: 1px solid #ccc;
   color: @openGrayDark;
}

th, td {
   padding: .5em 1em;
   text-align: left;
}

.enhanced th,
.enhanced td {
   display: none;
}

.enhanced th.essential, 
.enhanced td.essential {
   display: table-cell;
}

@media screen and (min-width: 500px) {
   .enhanced th.optional, 
   .enhanced td.optional {
      display: table-cell;
   }
}

@media screen and (min-width: 800px) {
   .enhanced th, 
   .enhanced td {
      display: table-cell;
   }
}

.table-menu, .table-menu-btn {
    #latest_resources_title;
   position: relative;
   float: right;
   background-color: #fff;
   padding: 10px;
   width: 100%;
}

.table-menu ul { 
    list-style: none; 
    }

.table-menu-hidden {
   left: -999em;
   right: auto;
}
.table-wrapper {
   position: relative;
}

/***** Search *****/

.catalog div.search-tools {
    padding: 10px;
    background-color: @clouds;
    border-radius: 6px;
    form {
        margin-top: 15px;
        margin-bottom: 10px;
        input[type=text] {
            width: 95%;
        }
    }
}

/****** Registration ******/

body.registration {
    div.floating-box {
        margin-top: 5%;
        margin-bottom: 10%;
        width: 30em;
        margin-left: auto;
        margin-right: auto;
        input[type='text'],
        input[type='password'] {
            width: 80%;
        }
    }
}

/****** Resource Detail ******/
