/* Table of Contents
 * -- Includes
 * -- Variables
 * -- Sitewide
 * -- Individual pages
 */

/* Includes
==================== */

/**------ Bootstrap ------**/

// Core variables and mixins
@import "../bootstrap/less/variables"; // Modify this for custom colors, font-sizes, etc
@import "../bootstrap/less/mixins";

// CSS Reset
@import "../bootstrap/less/reset";

// Grid system and page structure
@import "../bootstrap/less/scaffolding";
@import "../bootstrap/less/grid";
@import "../bootstrap/less/layouts";

// Base CSS
@import "../bootstrap/less/type";
@import "../bootstrap/less/code";
@import "../bootstrap/less/forms";
@import "../bootstrap/less/tables";

// Components: common
@import "../bootstrap/less/sprites";
@import "../bootstrap/less/close";
@import "../bootstrap/less/component-animations";
@import "../bootstrap/less/labels-badges";

// Components: Buttons & Alerts
@import "../bootstrap/less/alerts";

// Components: Nav
@import "../bootstrap/less/navs";
@import "../bootstrap/less/navbar";

@import "../bootstrap/less/utilities";

// Components: Responsive
@import "../bootstrap/less/responsive-utilities";
@import "../bootstrap/less/responsive-1200px-min";
@import "../bootstrap/less/responsive-768px-979px";
@import "../bootstrap/less/responsive-767px-max";
@import "../bootstrap/less/responsive-navbar";

/**------ Flat UI ------**/

// Loading custom fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import "../flat-ui/less/icon-font";

// Loading config with variables (changing them leads to changing a color scheme)
@import "../flat-ui/less/config";

// Utility mixins for greater good
@import "../flat-ui/less/mixins";

// Modules
/*@import "../flat-ui/less/modules/demo";*/
@import "../flat-ui/less/modules/type";
@import "../flat-ui/less/modules/buttons";
@import "../flat-ui/less/modules/caret";
/*@import "../flat-ui/less/modules/navbar";*/
/*@import "../flat-ui/less/modules/select";*/
@import "../flat-ui/less/modules/input";
/*@import "../flat-ui/less/modules/checkbox-and-radio";*/
/*@import "../flat-ui/less/modules/tagsinput";*/
/*@import "../flat-ui/less/modules/progress";*/
/*@import "../flat-ui/less/modules/ui-slider";*/
/*@import "../flat-ui/less/modules/pager";*/
/*@import "../flat-ui/less/modules/pagination";*/
/*@import "../flat-ui/less/modules/tooltip";*/
@import "../flat-ui/less/modules/dropdown";
/*@import "../flat-ui/less/modules/switch";*/
/*@import "../flat-ui/less/modules/share";*/
/*@import "../flat-ui/less/modules/palette";*/
/*@import "../flat-ui/less/modules/tile";*/
/*@import "../flat-ui/less/modules/todo";*/
@import "../flat-ui/less/modules/footer";
/*@import "../flat-ui/less/modules/video";*/
/*@import "../flat-ui/less/modules/login";*/
/*@import "../flat-ui/less/spaces";*/

/* Variables
==================== */

@base:             @grayDark;
@firm:             @grayDark;

@gray:             @openGrayDark;
@lightgray:        @openGray;
@inverse:          white;

@success:          #2ECC71; // @emerald is undefined.
@danger:           @alizarin;
@warning:          @sun-flower;
@info:             @peter-river;

@link-color:       @grayDark;

/*@inputHeight: 25px;
@baseLineHeight: 25px;*/

/* Bootstrap settings
 *
 * Had to override these since we have custom locations for bootstrap resources
 */
@iconSpritePath:          "/static/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/static/bootstrap/img/glyphicons-halflings-white.png";

/* Sitewide
==================== */

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../flat-ui/fonts/opensans/OpenSans-CondBold-webfont.eot');
    src: url('../flat-ui/fonts/opensans/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../flat-ui/fonts/opensans/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../flat-ui/fonts/opensans/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../flat-ui/fonts/opensans/OpenSans-CondBold-webfont.svg') format('svg');
    speak: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

body {
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1170px;

    @media (max-width: 767px) {
        padding: 5px;
    }
}

#main-content {
    min-height: 500px;
}

hr {
    border-color: @blue;
    border-size: 1px;
}

h1, h4 {
    @media (max-width: 767px) {
        text-align: center;
    }
}

p { 
    margin: 14px 0;
}

a { 
    text-decoration: none;
    color: @blue;

    &:hover {
        color: @blue;
    }

    &.btn {
        margin: 15px 0;
    }
}

.accent {
    color: @blue;
    font-size: @baseFontSize;
    vertical-align: top;
}

// .open { 
//    background-color: #F4F4F4;
//    box-shadow: 2px 2px 3px #444444;
//    display: block;
//    list-style: none outside none;
//    margin: 0;
//    padding: 0;
//    position: absolute;
//    right: 5px;
//    top: 40px;
//    width: 70%;
//    z-index: 500; 
// }

/**** Ribbon for featured projects and catalog resources ****/

    .ribbon {
        position: relative;
        padding: 5px 10px;
        background-color: @blue;
        text-shadow: 0px 1px 2px darker(@brownDark, 20%);
        -webkit-box-shadow: 0px 2px 4px #888;
        -moz-box-shadow: 0px 2px 4px #888;
        box-shadow: 0px 2px 4px #888;

        &:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
        }

        > a:hover {
            color: @grayDark;
        }

        @media (max-width: 767px) {
            padding: 0 25px;
            bottom: 2.2em;
            left: 0;

            &:before {
                .hidden;
            }
        }  
    }

    .ribbonRight {
        .ribbon;

        width: 75%;
        bottom: 2.95em;
        left: .6em;
        float:right;

        &:before {
            right: 0px;
            top: 100%;
            border-width: 8px;
            border-color: @brownDark transparent transparent @brownDark;
        }
    }

    .ribbonLeft {
        .ribbon;

        width: auto;
        float: left;
        right: .4em;
        top: .3em;

        &:before {
            left: 0px;
            bottom: 100%;
            border-width: 5px;
            border-color: transparent @brownDark @brownDark transparent;
        }
    }

.gray-card {
    background-color: lighten(@openGray, 5%);
    padding: 5px 15px;
    border-radius: 6px;
}

.gray-banner {
    background-color: @openGray;
    border-radius: 4px;
    padding: 5px 0 5px 2px;
    position: relative;

    h1, h4 {
        margin-left: 5px;
        text-align: initial;
    }

    > div.span3.resource_image {
        width: 100px;
        height: 100px;
        margin: 10px;
        position: relative;
        border: 2px solid #000;
        display: inline-block;
        text-align: center;

        > div#rating {
            width: 100%;
            height: 25px;
            position: absolute;
            top: 70%;
            #translucent.background(@grayDark, .8);
        }

        @media (max-width: 767px) {
            .hidden;
        }
    } 
}

#messages {
    text-align: center;
    min-height: 1px;
}

header {
    margin-top: 15px;

    #logo {
        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }

    #header_text {
        font-size: 1.2em;
        text-align: center;
        padding-left: 5%;
        @media (max-width: 767px) {
            .hidden;
        }
    }

    #login {
        text-align: right;

        h5 {
            text-transform: none;
            display: inline;

            &.logo_text {
                .hide;
            }
        }

        a:not(.accent) {
            color: @openGrayDark;

            &:hover {
                color: @grayDark;
            }
        }

        @media (max-width: 767px) {
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            #translucent.background(@white, .8);
            z-index: @zindexFixedNavbar;

            h5 {
                float: left;
                margin: 0;

                &.logo_text {
                    color: @grayDark;
                    position: absolute;
                    left: 40%;
                }
            }
        }
    }    
}

nav {
    margin-top: 32px;

    h3 {
        display: inline;
    }

    a {
        color: @grayDark;

        &:hover {
            + p {
                .show;
            }
        }
    }

    p {
        .hide;

        margin: 0;
        width: 75%;
    }

    @media (max-width: 767px) {

        text-align: center;
        margin-top: 25px;

        div[id^="goto"] {
            display: inline;
        }

        h3 {
            color: @openGrayDark;
            display: inline;
            border: none;
            font-size: 1.15em;
            padding: 0 5px;

            &.mobile_border {
                border-right: 2px solid @blue;
            }
        }    

        hr, p, .accent {
            .hidden;
        }
    }
}

footer {
    margin-top: 1em;
    padding: 1.5em;
    position: relative;
    bottom: 0;

    .offset4 h4 {
        text-align: right;
        @media (max-width: 767px) {
            text-align: center;
        }
    }

    h4 a {
        color: @white;
        font-weight: inherit;
        line-height: 28px;

        &:hover {
            color: @white;
        }
    }

    span{
        color: @blue;
    }

    @media (max-width: 767px) {
        text-align: center; 
    }
}

    .form-horizontal {
        .control-label {
            padding-top: 10px;
        }
    }

/**** Input forms, buttons, site-wide ****/
    .row-fluid { 

        input[type="text"], input[type='password'], textarea, select  {
            background-color: @openGray;
            border-radius: 6px;
            height: auto;
            width: 95% !important;

            &:focus, &:hover {
                border-color: @blue;
            }

            @media (max-width: 767px) {
                width: 90% !important;
            }
        }

        .btn {
            background-color: @grayDark;
            padding-bottom: 9px;

            &:hover {
                    background-color: @blue;
                }

            @media (max-width: 767px) {
                width: 50%;
                position: relative;
                //left: 25%;
                margin: 20px 0 0;
            }
        }

        .input-append {
            width: 95%;
            
            > input {
                border-radius: 6px 0 0 6px;
            }

            > button.btn {
                padding-bottom: 9px;
            } 

            @media (max-width: 767px) {
                button.btn {
                    position: initial;
                    width: initial;
                }

                > input {
                    margin: 20px auto 0;
                }
            }
        }

        //@media (max-width: 767px) {
          //  > .span2 label {
            //    text-align: center;
           // }
       // }
    }

    .sidebar-title {
        text-align: right;
        border-right: 2px @blue solid;
        padding: 5px;

        @media (max-width: 767px) {
            border: 2px solid @blue;
            border-style: solid none;
            text-align: center;
            margin-bottom: 25px;

            h1, h2 {
                display: inline;
                padding: 0;
            }
        }
    }

/* Individual pages
==================== */

/***** Home *****/

.twitter_header {
    text-align: center;
    border-bottom: 2px solid @blue;
    padding-bottom: 5px;
    margin-top: 0;

    @media (max-width: 767px) {
        border-top: 2px solid @blue;
        margin: 25px 0;
    }
}

#featured_projects_window {
    height: 400px;

    @media (max-width: 767px) {
        height: 200px;
    }
}

#latest_resources_title {
    text-align: right;
    border-right: 2px @blue solid;
    padding: 5px;

    @media (max-width: 767px) {
        border: 2px solid @blue;
        border-style: solid none;
        text-align: center;
        margin-bottom: 25px;

        h1 {
            display: inline;
            padding: 0;
        }
    }
}

/**** Latest Resources Table ****/
    .footable {
        width: 100%;
        font-size: 1.2em;
        line-height: 36px;

        a {
            color: @blue;
        }

        > thead > tr > th {
            text-align: left;
        }

        > tbody > tr {
            border-bottom: 1px solid @openGray;

            &:last-child {
                border: none;
            }
        }


        &.breakpoint {
            > tbody > tr {

                &.footable-detail-show > td {
                    border-bottom:none;
                }

                &:hover:not(.footable-row-detail) {
                  cursor: pointer;
                  background-color: lighten(@blue, 45%);
                }

                > td.footable-cell-detail {
                    border-top:none;
                }

                > td > span.footable-toggle {
                    display: inline-block;
                    text-transform: none;
                    -webkit-font-smoothing: antialiased;
                    color: @grayDark;
                }
            }
        }
    }

    tr.footable-row-detail {
        background-color: @openGray;
        padding-left: 2em;
    }

    .footable-row-detail-inner {
        display:table;
    }

    .footable-row-detail-row {
        display: table-row;
        line-height: 1.5em;
    }

    .footable-row-detail-group  {
        display: block;
        line-height: 2em;
    }

    .footable-row-detail-name {
        display: table-cell;
        padding-right: 0.5em;
    }

    .footable-row-detail-value {
        display: table-cell;
    }

/***** Search *****/

.catalog div.search-tools {
    padding: 0 10px 10px 0;
    margin: 0 0 25px;
    border-radius: 6px;
    background-color: @openGray;
    form {
        margin: 15px 0 10px;
        input[type=text] {
            width: 95%;
        }
    }

    > ul {
        display: inline-block;
        list-style: none;
        vertical-align: top;
    }
}

.search-results {

    > .ribbonRight {
        width: 15%;
    }   
}

#reset-filters {
    > span {
        vertical-align: top;
        margin: 0 5px 15px 0;
    }
}

/****** Registration ******/

body.registration {
    div.floating-box {
        margin: 5% auto 10% 2%;
    }
}

/****** Suggest Data ******/

    .sharing_tools {
        h3 {
            #latest_resources_title;
        }

        @media (max-width: 1000px) {
            h3 { display: inline-block; margin-top: 25px; }
            hr { .hidden; }
        }
    }

    #suggest_data_form {
        > p label,  span.helptext {
            margin: 15px 0 0 15px;
        }
    }

/****** Request Data ******/

#results_info {
    margin-bottom: 5px;

    > div {
        display: inline-block;
    }

    .sort_nomination {
        float: right;
        ul > li {
            display: inline;
            list-style: none;
            text-align: right;
        }
    }
}

.requests {
    > .request {
        > .vote-or-login {
            position: absolute;
            bottom: 5px;
            right: 5px;
            text-align: right;
    
            > form input {
                position: absolute;
                bottom: 0;
                right: 0;

                @media (max-width: 767px) {
                    
                    &.btn {
                        width: 20%;
                        left: 80%;
                    }
                }
            }
        }

        > .votes {
            > span {
                color: @blue;
                font-size: 1.4em;

                &:first-of-type {
                    font-size: 3.2em;
                }
            }
        }
    }
}


/****** Resource Detail ******/

#content_resource {
    padding: 10px 0 25px 10px;
    margin-bottom: 15px;

     @media (max-width: 767px) {
        h4 {
            text-align: center;
        }
     }

    .resource-image {
        position: relative;
        border: 2px solid @grayDark;
        width: 250px;
        height: 250px;

        @media (max-width: 767px) {
            margin: 0 auto;
        }
    }

    .ribbonRight {
        width: 50%;
        left: -.1em;

        @media (max-width: 767px) {
            width: 50%;
            left: -1.9em;
            text-align: center;
        }
    }

}

.user-form {
    margin-bottom: 15px;
}


/***** About ******/

#about h3 {
    > a {
        color: @blue;

        &:hover{
            color: @blue;
        }
    }
}

#partners, #awards {
    .ribbonRight {
        width: 15%;
    }
}

/****** Useful Links *****/

#useful_links {
    h3 {
        @media (max-width: 767px) {
            text-align: left;
        }
    }

    ul{
        display: inline-table;
    }

    li {
        font-size: 14px;
        list-style: none;
    }

    a {
        color: @blue;
        &:hover {
            color: @blue;
        }
    }
}

/***** FAQ *****/

#FAQ {
    ul {
        display: inline-table;
        list-style: none;
        margin:0 15px 15px 0;
    }

    > p {
        margin: 0 0 25px 15px;
    }

    a[href="#FAQ"] {
        float: right;
    }
}


