{% extends "base.html" %}
{% load widget_tweaks facet_tags thumbnail recent_resources %}

{% block title %}Home{% endblock %}

{%block extra-js%}
	
	<script charset="utf-8" src="{{ STATIC_URL }}js/footable.js"></script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<script>
	$(document).ready(function(){
		$('.footable').footable(); //plugin to make home page table collapse on mobile
	});
	</script>

{% endblock extra-js %}

{% block content %}

<div class="row-fluid">
	<div class="span12">
		<h3 class="ribbonLeft">
	    	Featured Projects
	    </h3>
	    {% for img in feature_images %}
            <div class="{% if not forloop.first %}hide{% endif %}">
            	{% thumbnail img.image "869x450" crop="center" as im %}
                	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
            	{% endthumbnail %}
                <h2 class="ribbonRight">
                    <a href="{{ img.resource.get_absolute_url }}">{{ img.resource.name }}</a>
                </h2>
            </div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block latest %}
<div class="row-fluid">
	<div id="latest_resources_sidebar" class="span3">
		<div id="latest_resources_title">
			<h1>Latest</h1>
			<h1> Resources</h1>
		</div>
	</div>

	{% get_latest 10 as latest_resources %}
	<div class="span6">
		<div class="table-wrapper">
			<table class="footable" cellspacing="0" id="latest-resources">
				<thead>
					<tr>
						<th data-class="expand">Item</th>
						<th data-hide="phone, tablet">Updated</th>
						<th>County</th>
						<th>Format</th>
						<th data-hide="phone, tablet">Type</th>
					</tr>
				</thead>
				<tbody>
					{% for r in latest_resources%}
						<tr>
							<td><a href="{{ r.get_absolute_url }}">{{ r.name }}</a></td>
							<td>{{ r.last_updated|date:"m/d/y" }}</td>
							<td>{{ r.counties.all.0.name }}</td>
							<td>{{ r.url_types.all.0.name }}</td>
							<td>{{ r.url_set.all.0.url_type }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div><!-- /table-wrapper -->
	</div>
	<div class="span3">
		<h1 class="twitter_header">Open N.C. Tweets</h1>
		<a class="twitter-timeline" href="https://twitter.com/OpenNC" data-widget-id="373147868539805696" data-theme="light" data-link-color="#29abe2" data-chrome="noborders noheader nofooter">Tweets by @OpenNC</a>
	</div>
</div>
{% endblock %}

