{% extends "base.html" %}
{% block content %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



<div class="row-fluid">
	<div class="span12">
		<h3 class="ribbonLeft">
	    	Featured Projects
	    </h3>
	    <div id="featured_projects_window"></div>
		<h2 class="ribbonRight">
		    Description/Title of Project
		</h2>
	</div>

</div>

</div></div> <!-- Close span9 and row from base.html -->

<div class="row-fluid">
	<div id="latest_resources_sidebar" class="span3">

	<!-- <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="258664344257167360">Tweets by @twitterapi</a> -->
		<div id="latest_resources_title">
			<h1>Latest</h1>
			<h1> Resources</h1>
		</div>
	</div>
	<div class="span9">
		<div class="table-wrapper">
			<table cellspacing="0" id="tech-companies">
			   <thead>
			      <tr>
			         <th class="persist essential">Date</th>
			         <th class="essential">Item</th>
			         <th class="optional">Location</th>
			         <th class="essential">Format</th>
			         <th class="optional">Type</th>
			      </tr>
			   </thead>
			   <tbody>
			      <tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
					<tr>
						<th>12/21/2012</th>
						<td><a href="#">Police Reports</a></td>
						<td>Columbus County</td>
						<td>CSV</td>
						<td>Raw Data</td>
					</tr>
			   </tbody>
			</table>
		</div><!-- /table-wrapper -->
	</div>
</div>
{% endblock %}

